<!-- chat/templates/chat/room.html -->
{%load static%}
{% block content %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>ClassRoom</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send"><br>
    <input id="createTask" type="button" value="create Task"><br>

    <script>
         window.userName = {{username}};
         window.roomName = '{{room_name}}';


    </script>

    <script  src="{% static 'chatroom.js' %}"></script>
</body>
</html>
{% endblock %}